/*
    Current time and date component.
*/
#currentTimeAndDate {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    
    font-weight: 300;
    text-align: center;

    width: fit-content;
    margin: auto;
}
#currentTimeAndDate .day {
    font-size: 4em;
}
#currentTimeAndDate .time {
    font-size: 6em;
}
#currentTimeAndDate .date {
    font-size: 3em;
}