* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
  
#grid {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: -webkit-fill-available;
}

/*
    Current time and date component.
*/
#currentTimeAndDate {
    font-weight: 300;
    text-align: center;
}
#currentTimeAndDate .day {
    font-size: 4em;
}
#currentTimeAndDate .time {
    font-size: 6em;
}
#currentTimeAndDate .date {
    font-size: 3em;
}

/*
    Weather Component.
*/
#weatherContainer {

}
/*
    Current Weather component.
*/
#currentWeather {
    margin: 0 auto 32px;
    font-size: 2em;
}
#currentWeather .body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#currentWeather .temperature {
    font-size: 4em;
    font-weight: 300;
    margin-right: 16px;
}
#currentWeather .degUnit {
    margin-bottom: 32px;
}
#currentWeather .degUnit .deg {
    font-size: 2em;
}
#currentWeather .degUnit .unit {
    font-size: 1.5em;
}
#currentWeather .title {
    text-align: center;
}
/*
    Future weather component.
*/
.futureWeather {
    display: flex;
    flex-flow: row;
    margin-top: 16px;
    font-size: 1em;
    justify-content: center;
}
.futureWeather .column {
    min-width: 56px;
    padding: 8px;
    text-align: center;
}
.futureWeather .column .row {
    padding: 4px 0;
}
.futureWeather .column .row .icon {
    width: 60px;
    margin-top: -8px;
    margin-bottom: -16px;
}

/*
    SL Realtime departures component.
*/
#slRealTime {

}
#slRealTime .station {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
#slRealTime .station .header {
    padding: 16px;
    text-align: center;
    font-weight: 500;
}
#slRealTime .station .header :last-child {
    padding: 4px;
    border-bottom: solid 1px;
    border-color: inherit;
}
#slRealTime .departures {

}
#slRealTime .departures :first-child {
    border: none;
}
#slRealTime .departure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
#slRealTime .departure :first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#slRealTime .lineNr {
    display: block;
    background-color: red;
    border-radius: 8px;
    padding: 4px 8px;
    color: #fff;
    font-weight: 500;
}
#slRealTime .destination {
    display: block;
    margin-left: 8px;
}
#slRealTime .timeUntilDeparture {

}
#slRealTime .nextDeparture .header {
    padding-bottom: 0;
}
#slRealTime .nextDeparture .display {
    text-align: center;
}
#slRealTime .nextDeparture .display .int {
    font-weight: 300;
    letter-spacing: -8px;
}
#slRealTime .nextDeparture .display .unit {
    margin-left: 8px
}

/*
    Food Menu Component.
*/
#foodMenu {
    text-align: center;
    padding: 16px;
}
#foodMenu .header {
    padding-bottom: 16px;
    font-weight: 500;
}
#foodMenu .header :last-child {
    padding: 4px;
    border-bottom: solid 1px;
    border-color: inherit;
}
#foodMenu .body {
}
#foodMenu .body .item {
    display: block;
}

.fadeIn {
     opacity: 0;
}