/*
    Weather Component.
*/
#weatherContainer {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    width: fit-content;
    margin: auto;
}
/*
    Current Weather component.
*/
#currentWeather {
    margin: 0 auto 32px;
    font-size: 2em;
}
#currentWeather .body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#currentWeather .temperature {
    font-size: 4em;
    font-weight: 300;
    margin-right: 16px;
}
#currentWeather .degUnit {
    margin-bottom: 32px;
}
#currentWeather .degUnit .deg {
    font-size: 2em;
}
#currentWeather .degUnit .unit {
    font-size: 1.5em;
}
#currentWeather .title {
    text-align: center;
}
/*
    Future weather component.
*/
.futureWeather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 16px;
    font-size: 1em;
    justify-content: center;
}
.futureWeather .column {
    padding: 8px;
    text-align: center;
}
.futureWeather .column .row {
    padding: 4px 0;
}
.futureWeather .column .row .icon {
    width: 60px;
    margin-top: -8px;
    margin-bottom: -16px;
}