.main-header {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-around;

    background-color: #333333;
}
.main-header .action {
    display: block;
    padding: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


.site-title {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.links {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
}